<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>
			{{#if projectitem}}
				{{#each projectitem}}
				    {{#if @first}}
				        {{this.title}} -
				    {{/if}}
				{{/each}}
			{{/if}}
			Ryan Walton | Portfolio
		</title>
		<link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<!-- <link rel="stylesheet" href="/library/magnific-popup-master/dist/magnific-popup.css"> -->
		<link href="/styles/site.css" rel="stylesheet">

		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

    	{{> navbar}}
			{{{body}}}

		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		<script src="https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
		<script src="/library/magnific-popup-master/dist/jquery.magnific-popup.js"></script>
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>

		<script type="text/javascript">
			// On document ready:
			$(function(){
				// Instantiate MixItUp:
				$('#project-list').mixItUp({
					load: {
						sort: 'myorder:asc'
					}
				});
				// animate scroll scrollspy
				$('a[href^="#"]').click(function(){
				    $('html, body').animate({
				        scrollTop: $( $.attr(this, 'href') ).offset().top-50
				    }, 500);
				    return false;
				});
				// enable lightbox
				$(document).ready(function() {
				  $('.img-lightbox').magnificPopup({type:'image'});
				});

			});
		</script>

	</body>
</html>
