<div class="container top-gap">
  <div class="row">
    <div class="col-sm-6">
      <img class="img-responsive" src="{{about.0.image.image.url}}" alt="" />
    </div>
    <div class="col-sm-6 about-details">
      <p>{{about.0.description}}</p>
      <h3>Contact</h3>
      <ul class="list-inline">
        <li><strong>Email</strong></li>
        <li><a href="mailto:{{about.0.email}}">{{about.0.email}}</a></li>
      </ul>
    </div>
  </div>
</div>
