<div class="container top-gap">
  <div class="row">
    <div class="col-sm-12">
      <p>
        project page
        HERE:
      </p>
      <ul>
        {{#each projectitem}}
          <li>{{this.title}} {{this.project}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
