<div class="container">
  <div class="row project-header">
    <div class="col-sm-6">
      <h1>{{this.title}}</h1>
      <p class="lead">{{this.description}}</p>
    </div>
    <div class="col-sm-6">
      {{#if this.videos}}
        {{#each videos}}
          {{#if @first}}
            {{> video}}
          {{/if}}
        {{/each}}
      {{else}}
        {{#each this.images}}
          {{#if @first}}
            {{> img_lightbox}}
          {{/if}}
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>
