<div class="container" id="{{this.slug}}">
  <div class="row project-row">
    <div class="col-sm-12 header">
      <h2>{{this.title}}</h2>
      <p>{{this.description}}</p>
    </div>

    {{#each videos}}
      {{#compare ../videos.length 1 operator="=="}}
        <div class="col-sm-12">
            {{> video }}
        </div>
      {{/compare}}
      {{#compare ../videos.length 2 operator="=="}}
        <div class="col-sm-6">
            {{> video }}
        </div>
      {{/compare}}
      {{#compare ../videos.length 3 operator=">="}}
        <div class="col-sm-4">
            {{> video }}
        </div>
      {{/compare}}
    {{/each}}

    {{#each images}}
      {{#compare ../images.length 1 operator="=="}}
        <div class="col-sm-12">
            {{> img_lightbox }}
        </div>
      {{/compare}}
      {{#compare ../images.length 2 operator="=="}}
        <div class="col-sm-6">
            {{> img_lightbox }}
        </div>
      {{/compare}}
      {{#compare ../images.length 3 operator=">="}}
        <div class="col-sm-4">
            {{> img_lightbox }}
        </div>
      {{/compare}}
    {{/each}}
  </div>
</div>
