.project-list-controls {
  text-align: center;
  font-size: 11px;
  font-weight: bold;
}

.project-list-controls ul{
  display: inline-block;
  margin: 20px 0 20px 0;
}

.project-list-controls li{
  color: #808080; /*lighter color*/
  padding:10px 20px 10px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fff;
  border: solid 1px #eee;
  margin: 5px;
}

.project-list-controls li.active{
  color: #3f3f3f;
  background-color: #fff;
  border: solid 1px #58585A;
}

.project-list-controls li:hover{
  color: #fff;
  background-color: #58585A;
  border: solid 1px #58585A;
}
