body {
	padding-bottom: 100px;
}

#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.navbar-brand {

	padding: 8px 15px;

	.header-img {
		max-height: 34px;
	}

}

.skills {
	margin-top: 20px;
  margin-bottom: 20px;
}

.top-gap {
	margin-top: 150px;
}

.about-details {
	margin-top: 30px;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
}

.img-lightbox img {
	padding-bottom: 15px;
}



.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: pointer;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
