.portfolio-hero {
    background: url(../images/IMG_0841.JPG) no-repeat center top;
    background-size: cover;
    background-position: center top;
    padding: 150px 0 100px 0;
    text-align: center;
    background-attachment: fixed;
    color: #fff;
}
