body {
  color: #454545;
  font-family: open-sans, sans-serif;
  font-size: 14px;
  font-weight: 300;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
}

p {
  color: #8D8D8D;
  line-height: 25px;
}

h2 {
  color: #262F32;
  font-size: 28px;
  font-weight: 400;
}
